    * { margin:0; padding:0; }   
      
    #wrap {float:right;width:1375px; height:100%; clear:both; margin:0 auto;}  
      
    #table_layout { width:1415px; }   
      
    #left_b { width:3930px;}   
      
    #right_b { width:980px;}   